<div class="animated fadeIn">

    <div class="row">
     
       
        <div class="col-sm-12 col-md-12">
          <div class="card text-white bg-danger">
            <div class="card-header">
                RAJASHRI A1 #1510 MASALA AGARBATTI
            </div>
            <div class="card-body">
                FEATURES
                <ul>
                  <li>Incense : Rose (Gulaab)</li>
                  <li>Aromatic and rejuvenating</li>
                  <li>Made with herbs & pure essential oils</li>
                  <li>Hand Made Agarbatti</li>
                  <li>Continuous 1 Hour buring</li>
                </ul>
            </div>
          </div>
        </div>
    
      </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            RAJASHRI A1 #1510
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/rajashree_b_c.jpg" alt="First slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/rajashree_b_o.jpg" alt="Second slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            RAJASHRI A1 #1510
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/rajashree_s_o.jpg" alt="Third slide" 
              style="display: block; width: 100%;">
            </slide>

            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/rajashree_s_c.jpg" alt="Fourth slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  


  <div class="row">
 
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            RAJASHRI A1 #1510 
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of slidesL; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <br/>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
              RAJASHRI A1 #1510 
            <small>(Masala Agarbatti)</small>
          </div>
          <div class="card-body">
            <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
              <slide *ngFor="let slide of slidesR; let index=index">
                <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
            <br/>
          </div>
        </div>
      </div>


  </div>
  </div>
