<div class="animated fadeIn">

        <div class="row">
         
           
            <div class="col-sm-12 col-md-12">
              <div class="card text-white bg-warning">
                <div class="card-header">
                  Chandan Utti (Ashtgandha)
                </div>
                <div class="card-body">
                 FEATURES
                 <ul>
                   <li>Non Alergic Gandham </li>
                   <li>Mainly used it as Tilak for men</li>
                   <li>Use it for your god idol.</li>
                   <li>You can mix with water also.</li>
                 </ul>
                </div>
              </div>
            </div>
        
          </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Ashtgandha
              <small>(Utti)</small>
            </div>
            <div class="card-body">
                    <carousel [interval]="false">
                      <slide>
                        <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Utti/Utti.jpg"  
                        style="display: block; width: 100%;">
                      </slide>
                    </carousel>
                  </div>
        </div>
      </div> 
</div>
    