<div class="animated fadeIn">

        <div class="row">
         
           
            <div class="col-sm-12 col-md-12">
              <div class="card text-white bg-danger">
                <div class="card-header">
                  Haldi Kumkum (Sindoor)
                </div>
                <div class="card-body">
                 FEATURES
                 <ul>
                   <li>Non Alergic -Turmeric </li>
                   <li>Mainly used it as sindoor or for Pooja</li>
                   <li>You can mix with water also.</li>
                 </ul>
                </div>
              </div>
            </div>
        
          </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Kumkum
              <small>(Turmeric)</small>
            </div>
            <div class="card-body">
                    <carousel [interval]="false">
                      <slide>
                        <img src="https://vitthallad.github.io/ladfragrances/assets/img/Kumkum/Kumkum.jpg"  
                        style="display: block; width: 100%;">
                    
                      </slide>
                    </carousel>
                  </div>
        </div>
      </div> 
</div>
    