<div class="animated fadeIn">

    <div class="row">
     
       
        <div class="col-sm-12 col-md-12">
          <div class="card text-white bg-info">
            <div class="card-header">
              SHRI DECCAN QUEEN #1510 MASALA AGARBATTI
            </div>
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
    
      </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          DECCAN QUEEN #1510
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/deccan_b_c.jpg" alt="First slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/deccan_b_o.jpg" alt="Second slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            DECCAN QUEEN #1510 
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="false">
            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/deccan_s_o.jpg" alt="Third slide" 
              style="display: block; width: 100%;">
              <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div> -->
            </slide>

            <slide>
              <img src="https://vitthallad.github.io/ladagarbatti/assets/img/Agarbatti/deccan_s_c.jpg" alt="Fourth slide" style="display: block; width: 100%;">
              <!-- <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p style="font-color:black">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div> -->
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  


  <div class="row">
 
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
             DECCAN QUEEN #1510 
          <small>(Masala Agarbatti)</small>
        </div>
        <div class="card-body">
          <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of slidesL; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">

              <!-- <div class="carousel-caption">
                <h4>Slide {{index}}</h4>
                <p>{{slide.text}}</p>
              </div> -->
            </slide>
          </carousel>
          <br/>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
             DECCAN QUEEN #1510 
            <small>(Masala Agarbatti)</small>
          </div>
          <div class="card-body">
            <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
              <slide *ngFor="let slide of slidesR; let index=index">
                <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
  
                <!-- <div class="carousel-caption">
                  <h4>Deccan Queen</h4>
                  <p>{{slide.text}}</p>
                </div> -->
              </slide>
            </carousel>
            <br/>
          </div>
        </div>
      </div>


  </div>
  </div>
