<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="card border-success">
            <div class="card-header">
             Address
            </div>
            <div class="card-body">
              2188, Ashok Chandrakant Lad,  <br>
              Mahadwar Road, Near Darshan Mandap, <br>
              Pandharpur - 413304  <br>
              District - Solapur <br>
              State - Maharashtra
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="card border-success">
              <div class="card-header">
               Contact Numbers
              </div>
              <div class="card-body">
                Landline : (02186) (227679) <br>
                WhatsApp : +91-9975924245    <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         : +91-9673848316
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          
          
            <!-- <agm-map 
            [latitude]="17.677726" 
            [longitude]="75.336118">
              <agm-marker 
              [latitude]="17.677726" 
              [longitude]="75.336118">
            </agm-marker>
            </agm-map> -->
        </div>
        
      </div>
  </div>
