<div class="animated fadeIn">
    <div class="row">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
                      <slide *ngFor="let slide of slidesL; let index=index">
                        <img [src]="slide.image" alt="image slide" style="display: block;padding-left:150px;">
                      </slide>
                    </carousel>
                    <br/>
                  </div>
                </div>
              </div>
          </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card border-warning">
            <div class="card-header">
              About Us
            </div>
            <div class="card-body">
              <i>
                <h5>LAD </h5> agarbatti  is a renowned manufacturer and Supplier of a wide range of Incense Sticks. 
                We offer India Queen #1510, Haripriya #1510 , Rajashri A1 #1510 & Shri Deccan #1510 Incense Stick etc. 
                These Agarbattis are hand made & uses excellent quality natural herbs and materials.
                These are suitable for performing prayers and for ceremonies of religious nature. The mild aroma sets the right ambience for such gatherings.
                These also offer relaxation and calmness to the mind and enhances meditation. 
                We offer these in varied fragrances and sizes. Also, these come in attractive packaging and remarkable prices.
                <br>
                <p> <br>
                LAD as a brand is known for manufacturing and delivering MASALA Incense Sticks to over 20+ districts within Maharashtra.
                We understand what our customer demands and expects, and thus, we as a brand are more customer driven and believe in the spirit of innovation and creativity.
                Founded by Chandrakant Lad and Ashok Lad in the year 1970, LAD has continued to grow in strength and market reach 
                to be ranked as the best incense manufacturing company in India and across the world. 
                </p>
                <ul>
                    <li>Vision – To be a pioneer & leader in the market as well as to diversify.</li>
                    <li>Mission – Fidelity towards product quality and customer satisfaction.</li>
                  </ul>
                
                </i>
            </div>
          </div>
        </div>
    
      </div>
 
    
</div>
